body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 테두리 두께 포함 */
  box-sizing: border-box; 
  min-height: 100%;
}
#root{
  min-height: 100%;
}
html {
  height: 100%;
}
/* 링크의 새상 및 밑줄 없애기 
  color:inherit; 부모 엘리먼트 색상 상속 */
a{
  color:inherit;  
  text-decoration: none;
}
* {
  box-sizing: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
